body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.clock {
  min-width: 300px;
  color: #FF3BBB;
  font-size: 48px;
  text-shadow: 0 0 5px #FF3BBB, 0 0 10px #FF3BBB, 0 0 20px #FF3BBB, 0 0 0.5em #FF3BBB, 0 0 1em #FF3BBB;
}
.clock__time {
  display: flex;
  justify-content: space-between;
}
.clock__date {
  font-size: 68px;
  margin-top: -10px;
}